<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.Md5PasswordMapper" >
  <resultMap id="BaseResultMap" type="entity.Md5Password" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pw_md5" property="pwMd5" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pw_md5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from password_md5
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from password_md5
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Md5Password" >
    insert into password_md5 (id, pw_md5)
    values (#{id,jdbcType=INTEGER}, #{pwMd5,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Md5Password" >
    insert into password_md5
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pwMd5 != null" >
        pw_md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pwMd5 != null" >
        #{pwMd5,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Md5Password" >
    update password_md5
    <set >
      <if test="pwMd5 != null" >
        pw_md5 = #{pwMd5,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Md5Password" >
    update password_md5
    set pw_md5 = #{pwMd5,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>